<div class="portfolio">
<div class="grid-wrapper">
  {% for block in section.blocks %}
    <div class="{{ block.settings.class }}">
      <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.alt_text }}" />
    </div>
  {% endfor %}
</div>
</div>

<style>
/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.portfolio{
	background: #000;
	padding: 15px;
}
.grid-wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

</style>


{% schema %}
{
  "name": "Masonry Gallery",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "default": "Gallery Image"
        },
        {
          "type": "select",
          "id": "class",
          "label": "CSS Class",
          "options": [
            {
              "label": "Regular",
              "value": ""
            },
            {
              "label": "tall",
              "value": "tall"
            },
            {
              "label": "wide",
              "value": "wide"
            },
            {
              "label": "big",
              "value": "big"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Masonry Gallery"
    }
  ]
}
{% endschema %}
